{% extends 'base.html' %}
{% block content %}
  
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>

    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32)}}
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
  </form>
  <p>Forgot your password? <a  href="{{ url_for('auth.request_passwordreset') }}">Click to Reset Your Password</a></p>
  <p>Are you a new user? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
{% endblock %}