{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.email.label }}
            {{ form.email(size=64)}}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit.label }}
            {{ form.submit() }}
        </p>

    </form>
{% endblock %}