{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.password.label }}
            {{ form.password(size=32)}}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password2.label }}
            {{ form.password2(size=32)}}
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.submit.label }}
            {{ form.submit() }}
        </p>

    </form>
{% endblock %}