{% extends 'base.html' %}

{% block content %}
    <h2>Verification Successful</h2>
    <p>Thank you for verifying your account, please <a href="{{ url_for('auth.login') }}">click here</a> to return to the login page</p>

{% endblock %}