<table>
    <tr valign="top">
        
        <td> 

        </td>
            <a href="{{ url_for('main.profile', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            says:<br> {{ post.body }}
        </td>
    </tr>
</table>