<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="static/css/styles.css">
  <meta charset="utf-8">
  {% if title %}
    <title>{{ title }} - GO Stats</title>
  {% else %}
    <title>Welcome to GO Stats</title>
  {% endif %}
</head>

<body>
  <nav class="navbar">
    <div> <h1><a>GO-Stats:</a></h1>
      <ul class="navbar-nav"></ul>
        <li class="nav-item"><a href="{{ url_for('main.index') }}">Home</a></li>
        
        {% if current_user.is_anonymous %}
          <li class="nav-item"><a href="{{ url_for('auth.login') }}">Login</a></li>
          <p>New Around Here? <button><a href="{{ url_for('auth.register') }}">Click to Register</a></button> </p>
        
        {% else %}
          <li class="nav-item"><a href="{{ url_for('main.profile', username=current_user.username) }}">My Profile</a>
            <i class="fas fa-user-circle"></i>
          </li>
          <li class="nav-item"><a href="{{ url_for('main.explore') }}">Explore</a></li>
          <li class="nav-item"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          <li class="nav-item"><a href="{{ url_for('main.team') }}">Teams</a></li>
      </ul>

        <div>
          {% if g.search_form %}
          <form action="{{ url_for('main.search') }}" method="get">
            <div>
              {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
            </div>
          </form>
          {% endif %}
        </div>

      {% endif %}
    </div>
  </nav>
  
  <hr>
  <main>
    {% if title == 'Home' %}
      <h1> Welcome to GO Stats</h1>
    {% else %}
      <h1> {{ title }} - GO Stats</h1>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %} 
      <h1>Hi, {{ current_user.username }}!    </h1>
      {% for post in posts %}
      <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
      {% endfor %}
    {% endblock %}
    {% block app_content %}
    {% endblock %}
  </main>  
</body>


</html>
