{% extends 'base.html' %}

{% block content %}
    <h2>Follow your favorite CS:GO teams!</h2>
    <h2>Hi {{ current_user.username }}!</h2>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in errors %}
                <span style="color: red">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer Posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older Posts</a>
    {% endif %}
{% endblock %}