{% extends 'base.html' %}

{% block content %}

    <table>
        {% for stat in player %}
        <tr>
            <td>{{ stat }} </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}