<html>
    {% extends 'base.html' %}
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="static/css/styles.css">
        <meta charset="utf-8">
    </head>
    {% block content %} 
        <table>
            <tr valign="top">
                <td>
                    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                    {% if user.last_seen %}<p>Last seen: {{ user.last_seen }}</p>{% endif %}
                </td>
            </tr>
        </table>
        
        <h1>User: {{ user.username }}</h1>
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        {% if user.last_seen %}<p>{{ user.last_seen }}</p>{% endif %}
        <p>{{ user.followers.count() }} followers, {{user.followed.count() }} following.</p>
        {% if user == current_user %}
            <p><a href="{{ url_for('main.editprofile') }}">Edit your profile</a></p>
        {% elif not current_user.is_following(user) %}
        <p>
            <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Follow') }}
            </form>
        </p>
        
        {% else %}
        <p>
            <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Unfollow') }}
            </form>
        </p>
        
        {% endif %}
        
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
        {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Older Posts</a>
        {% endif %}
    {% endblock %}
</html>