{% extends "base.html" %}

{% block app_content %}
    {% if player  %}
        {% for p in player %}
            <h1><a href="{{ url_for('main.player', id=p.id) }} ">{{ p.game_name }}</a></h1>
        {% endfor %}
    {% endif %}
    
    {% if team %}
        {% for t in team %}
            <h1><a href="{{ url_for('main.team', id=t.id) }}">{{ t.team_name }}</a></h1>
        {% endfor %}
    {% endif %}
{% endblock %}