{% extends 'base.html' %}

{% block content %}
    {% if not id %}
        <table>
            {% for team in team_data %}
                    <tr>
                        <td><a href="{{ url_for('main.team', id=team[1], name=team[0]) }}">{{ team[0] }}</a></td>
                    </tr>
            {% endfor %}
        </table>
    {% else %}
        <table>
            <tr>
                <td>{{ team_data[0] }}</td>
            </tr>
            <tr>
                {% for player in team_roster %}

                <td><a href="{{ url_for('main.player', id=player.id) }}">{{ player.game_name }}</a></td>
            
                {% endfor %}
            </tr>
        </table>
    {% endif %}
{% endblock %}